<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1>Today's tasks</h1>

        <form class="ui form" action="/add" method="post">
            <div class="input">
                <label class = "prompt">What do you want to do today?</label> <br> 

                    <input class = "textbox" type="text" name="title" placeholder="Enter your task here...">
                    <button class="material-symbols-outlined">add</button>

            </div>

        </form>

        <hr>

        {% for todo in todo_list %}
        <div class="ui_segment">
            <p class="ui big header">{{todo.id }}. {{ todo.title }}</p> 

            {% if todo.complete == False %}
            <span class="Completion">Not Complete</span>
            {% else %}
            <span class="Completion">Completed</span>
            {% endif %}

            <a href="/update/{{ todo.id }}"> <button class="material-symbols-outlined">
                done</button></a>
            <a href="/delete/{{ todo.id }}"><button class="material-symbols-outlined">delete</button></a>
        </div>
        {% endfor %}
    </div>
</body>

</html>